
@{
    ViewBag.Title = "Erro";
}
@* Esta classe danger irá colocar o texto em vermelho  *@
<h2 class="text-danger">Ocorreu o seguinte erro:</h2>

@* Esta classe alert danger deixará o fundo vermelho *@
<div class="alert alert-danger">
    @ViewBag.MensagemErro    
</div>
