
@{
    ViewData["Title"] = "Filmes";
}

<h2>Gestão de Filmes - Escolha um opção</h2>


<ul>
    <li>@Html.ActionLink("Cadastro de Filmes", "Incluir", "Filmes")</li>
    <li>@Html.ActionLink("Lista de Filmes", "Listar", "Filmes")</li>
</ul>



