
@{
    ViewBag.Title = "Clientes";
}

<h2>Gestão de Clientes - Escolha uma opção</h2>

<ul>
    <li>@Html.ActionLink("Cadastro de Clientes" , "Incluir" , "Clientes")</li>
    <li>@Html.ActionLink("Lista de Clientes" , "Listar", "Clientes")</li>
</ul>